#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

input {
  width: 25%;
}

.button {
  margin-top: 20px;
  width: 10%;
}